body{
    margin: 0;padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    /* grid-template-rows: auto 1fr auto; */
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}
nav{
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: aqua;
    color: black;
    padding: 15px;
}
aside{
    height: calc(100vh-48px);
    top: 48px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: rgb(20, 84, 179);
    color: black;
    padding: 15px;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 25px;
}

@media (max-width : 800px) {
    body{
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        width: 300px;
        display: none;
    }
    .show{
      display: block;  
    }
}